<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="./index.less">
    <style>
    .photo {
        position: absolute;left:-999em;
    }
    </style>
</head>
<body>
    <canvas id="contract" width="512" height="758" ></canvas>
    <h1>请在下方区域签字</h1>
    <div id="wrap" class="wrap" >
        <canvas id="draw" >

        </canvas>
    </div>
    <script src="./entry.js"></script>
    <img src="./contract.png" class="photo" id="photo" />
</body>
</html>
