.reactNode {
  border-bottom: 1px blue dotted;
}
.reactNode:before {
  content: ' ';
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url(/view/example/react/onface.png);
  background-size: 100%;
}
